body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, .main-content {
    height: 100%;
    background-color: antiquewhite;
}

.cart-content h1, .cart-content h3, .cart-content h4, .cart-content h5 {
    margin: 0;
}

.ui.list .list {
    padding: 0;
}

.pushable {
    height: calc(100% - 91px); /* Total window height - header height */
}

.ui.header {
    margin: 0;
}

.cart-icon {
    float: right;
    cursor: pointer;
}

.ui.header.banner {
    padding: 1.5em;
    background-color: #000;
    color: #fff;
    border-bottom: 4px solid firebrick;
    display: grid;
    grid-template-columns: 95% 10%;
}

.ui.header.banner h1 {
    margin: 0;
}

.pizza-menu-content {
    margin: 6em 30em;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    margin-top: 12em;
}

.cart-sidebar {
    border-left: 4px solid firebrick;
    margin-top: 3px;
    background-color: #000;
    color: #fff;
}

.ui.grid>.column:not(.row) {
    padding-top: 0;
    padding-bottom: 0;
}
